.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card__title {
  font-size: 1.8rem;
  font-weight: 400;
  order: 2;

  margin-bottom: calc(var(--spacer));
}

.card__picture {
  display: block;
  overflow: hidden;

  margin-bottom: calc(var(--spacer) * 2);
}

.card__picture > img {
  width: 100%;
  object-fit: cover;
}

.card__description {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-grey-600);
  order: 1;

  margin-bottom: calc(var(--spacer));
}

.card__body {
  font-size: 1.30rem;
  font-weight: 300;
  color: var(--color-black);
  order: 3;
}

.card__actions {
  order: 4;

  margin-top: calc(var(--spacer) * 2);
  text-align: center;
}

.card__read-more {
  font-size: 1.32rem;
  font-weight: 400;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);

  text-decoration: none;
  transition: all 286ms linear 0s;
}

.card__read-more:hover {
  color: var(--color-blue);
  border-bottom-color: var(--color-blue);
}