.nav {

}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  font-size: 1.8rem;
  line-height: 1.44em;
  font-weight: 400;
}

.nav__item:first-of-type {
  display: none;
}

.nav__item > a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: var(--color-black);
}

.nav__item > a:hover,
.nav__item--active > a
{
  border-bottom-color: var(--color-blue);
  color: var(--color-blue);
}