.wrapper--header {
  padding: calc(var(--spacer)*4) 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  align-self: flex-start;
}

.logo > a {
  display: block;
  text-indent: -999em;  

  width: 68px;
  height: 68px;
  background-size: 68px 68px;
  background-image: url(../../images/logo.jpg);
  background-repeat: no-repeat;
}