.art-list {
  align-items: center;
}

.art-list > div {
  margin-bottom: calc(var(--gutter) * 2);
}

.art-list__header {
  margin-bottom: calc(var(--spacer)*2);
}

.art-list__heading {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: calc(var(--spacer) / 2);
}

.art-list__link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-blue);
  text-decoration: none;

  border-bottom: 1px solid transparent;
  transition: all 286ms linear 0s;
}

.art-list__link:hover {
  border-bottom-color: var(--color-blue);
}