.btn-to-top {
  position: fixed;
  z-index: 999;
  bottom: calc(var(--spacer)*4);
  left: calc(50% - 54px);

  text-align: center;

  font-size: 1.52rem;

  border-bottom: 2px solid var(--color-black);
  transition: all 286ms linear 0s;
}

.btn-to-top:hover {
  background: var(--color-white);
  cursor: pointer;
  cursor: hand;
}