.wrapper--social-media {
  border-top: 1px solid var(--color-grey-500);
  padding: calc(var(--spacer)*2) 0;
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.social-media__link {
  text-decoration: none;
  color: var(--color-black);

  text-align: center;
  transition: all 286ms linear 0s;
}

.social-media__link:hover {
  color: var(--color-blue);
}

.social-media__link .fab {
  text-align: center;

  font-size: 1.6rem;
}

.social-media__name {
  display: block;

  font-size: 0.9rem;

  margin-top: calc(var(--spacer));
}